{% extends 'base.html' %}

{% load static %}

{% block title %}

{% endblock title %}

{% block content %}

<main class="l-main">

    <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Des questions</span>
                    <h2 class="section-title contact__initial">Contactez-nous</h2>
                    <p class="contact__description">Nous sommes toujours ravis d'avoir de vos nouvelles ! Que vous ayez une question, une suggestion ou que vous souhaitiez simplement dire bonjour, n'hésitez pas à nous contacter !</p>
                </div>

                <div class="contact__button">
                    <a href="#" class="button">Contactez-nous maintenant</a>
                </div>
            </div>
        </section>
    </main>

    {% endblock content %}
